* {
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}
.header {
    Background-color :  rgb(245, 213, 125);color:brown;
    width : 784px;
    height : 200px;
}

.kolom1{
    position : absolute;color:yellow;
    height : auto;
    width : 200px;
}


.kolom2 {
    background-color:rgb(235, 235, 235);
    margin-left: 230px;
    height : auto;
    width : 584px;

}

.footer{
    background-color:thistle; color:purple;
    width : 784px;
    height :100px;
}

